html{
	display: flex;
	height: 100%;
	align-items: center;
	background: #4b433d;
}


.row {
	display: flex;
	margin-left: 5%; 
	margin-right: 5%;
	width: 90%;
}


.icon {
	margin: 2%;
	opacity: 50;
}

.image {
	border-radius: 2.5%;
	opacity: 0.25;
	transition: opacity ease 1s;
}

.image:hover {
	opacity: 1;
	transition: opacity ease 0.2s;
}
